<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samantha.catch_a_ride">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".RidingOrDriving" />
        <activity android:name=".RidersGetDrivers" />
        <activity android:name=".Profile" />
        <activity android:name=".DriversAvailable" />
        <activity android:name=".EditProfile" />
        <activity android:name=".FirstProfileEdit" />
        <activity android:name=".MessageDriver" />
        <activity android:name=".WaitingForDriver" />
        <activity android:name=".AcceptDenyRequest" />
        <activity android:name=".DriverAccepted" />
        <activity android:name=".RiderAccepted"></activity>
    </application>

</manifest>